{% set nav = craft.amNav.getNavRaw("mainMenu") -%}

{% macro addNodeToNavigation(node, index) -%}
    {%- set nodeClasses = [] -%}
    {%- if node.hasChildren -%}
        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
    {%- endif -%}
    {%- if node.level == 1 and index == 1 -%}
        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
    {%- endif -%}
    {%- if node.listClass|length -%}
        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
    {%- endif -%}
    {% set pageAddress %}/{{craft.request.getPath()}}{% endset %}
    <li{% if nodeClasses|length -%} class="{{ nodeClasses|join(' ') }}"{% endif -%}>
        <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank -%} target="_blank"{% endif -%}{% if pageAddress == node.url -%} class="active"{% endif -%}>{{ node.name }}</a>
        {% if node.hasChildren -%}
            <ul class="nav__level{{ (node.level + 1) }}">
                {% for subnode in node.children -%}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                {% endfor -%}
            </ul>
        {% endif -%}
    </li>
{% endmacro -%}

<nav class="navmain">
    <ul class="nav">
        {% for node in nav -%}
            {{ _self.addNodeToNavigation(node, loop.index) }}
        {% endfor -%}
    </ul>
</nav>